<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maintenance Page</title>
    {{> style}}
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>We'll be right back</h1>
        </div>
        <p>The site is currently being updated. We'll be back soon</p>

        {{> footer}}
    </div>
</body>
</html>